<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="../static/materialize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type ="text/javascript"></script>
</head>
<body class="blue lighten-4">
<div class="container">
  <% if(typeof(errors) != 'undefined' ) { %>
    <% for (var x in errors) { %>
  <h3><%= errors[x].message %></h3>
    <% } %>
    <% } %>
  <form action="/message" method="post">
    <div class="input-field">
      <input type="text" class="validate" name="m_name" id="m_name">
      <label for="m_name">Name:</label>
    </div>
    <div class="input-field">
      <textarea class="validate" name="message" id="message"></textarea>
      <label for="message">Message:</label>
    </div>
    <input type="submit" value="Post message" class="btn black">
  </form>
    <% if (messages){%>
      <% for (let i = 0; i < messages.length; i++){%>
        <h4>Name: <%= messages[i].name%></h4>
        <h4>Message: <%= messages[i].message%></h4>
            <% for (let j = 0; j < messages[i].comments.length; j++){%>
            <P>Name: <%= messages[i].comments[j].name%></P>
            <p>Comment: <%= messages[i].comments[j].comment %></p>
            <hr>
            <%}%>
      <form action="/comment/<%= messages[i]._id%>" method="post">
        <div class="input-field">
          <input type="text" class="validate" name="c_name" id="c_name">
          <label for="c_name">Name:</label>
        </div>
        <div class="input-field">
          <textarea class="materialize-textarea" name="comment" id="comment"></textarea>
          <label for="comment">Comment:</label>
        </div>
          <input type="submit" value="Post comment" class="btn black">
      </form>
      <% }%>
    <% }%>
  </div>
</body>
</html>